---
/**
 * TerminalInput.astro - Componente de entrada de comandos para la terminal
 */

interface Props {
  prompt?: string;
}

const { prompt = "$" } = Astro.props;
---

<div class="terminal-input-line flex mt-2">
  <span class="terminal-text-green mr-2">{prompt}</span>
  <input
    type="text"
    id="terminal-input"
    class="flex-1 bg-transparent outline-none border-none terminal-text-white"
    style="color: #ffffff !important;"
    autocomplete="off"
    spellcheck="false"
  />
</div>
