<svg
  xmlns="http://www.w3.org/2000/svg"
  xmlns:xlink="http://www.w3.org/1999/xlink"
  width="16px"
  height="16px"
  viewBox="0 0 16 16"
  version="1.1"
>
  <title>Firebase</title>
  <defs>
    <image
      id="image11"
      width="16"
      height="16"
      xlink:href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABmJLR0QA/wD/AP+gvaeTAAAAXUlEQVQ4je2S0Q6AIAgAr6z+/3vbFB+aSw030NfuCUFPZMKXU8kN2ZXcAWwrAgGuVcGoZhIUTM/oBaGK44ygrG/LYXgmrnUg/UZPB+bbNYEAySOoCbRDdOP6wj8vGdnlCCi4bxoAAAAAAElFTkSuQmCC"
    />
    <image
      id="image20"
      width="16"
      height="16"
      xlink:href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABmJLR0QA/wD/AP+gvaeTAAAALElEQVQ4jWNgGPaAk4GBgQOfAiYiDMGrhpAB36FqmImwCCdgoUTzKBgFRAEA9VUBGKeGrzAAAAAASUVORK5CYII="
    />
  </defs>
  <g id="surface1">
    <path
      style=" stroke:none;fill-rule:nonzero;fill:rgb(100%,76.078431%,29.019608%);fill-opacity:1;"
      d="M 2.164062 12.898438 L 2.261719 12.765625 L 6.839844 4.082031 L 6.847656 3.988281 L 4.832031 0.199219 C 4.660156 -0.117188 4.1875 -0.0390625 4.128906 0.316406 Z M 2.164062 12.898438 "
    ></path>
    <path
      style=" stroke:none;fill-rule:evenodd;fill:rgb(100%,65.490196%,7.058824%);fill-opacity:1;"
      d="M 2.222656 12.796875 L 2.296875 12.652344 L 6.824219 4.0625 L 4.8125 0.253906 C 4.644531 -0.0585938 4.21875 0.0234375 4.164062 0.375 Z M 2.222656 12.796875 "
    ></path>
    <use xlink:href="#image11"></use>
    <path
      style=" stroke:none;fill-rule:nonzero;fill:rgb(95.686275%,74.117647%,38.431373%);fill-opacity:1;"
      d="M 8.320312 6.855469 L 9.820312 5.316406 L 8.320312 2.449219 C 8.175781 2.175781 7.777344 2.175781 7.636719 2.449219 L 6.835938 3.980469 L 6.835938 4.109375 Z M 8.320312 6.855469 "
    ></path>
    <path
      style=" stroke:none;fill-rule:evenodd;fill:rgb(100%,64.705882%,5.490196%);fill-opacity:1;"
      d="M 8.292969 6.789062 L 9.753906 5.296875 L 8.292969 2.515625 C 8.152344 2.25 7.816406 2.222656 7.679688 2.488281 L 6.871094 4.042969 L 6.847656 4.121094 Z M 8.292969 6.789062 "
    ></path>
    <use xlink:href="#image20"></use>
    <path
      style=" stroke:none;fill-rule:nonzero;fill:rgb(96.470588%,50.980392%,4.705882%);fill-opacity:1;"
      d="M 2.164062 12.898438 L 2.210938 12.855469 L 2.367188 12.792969 L 8.226562 6.957031 L 8.300781 6.753906 L 6.839844 3.96875 Z M 2.164062 12.898438 "
    ></path>
    <path
      style=" stroke:none;fill-rule:nonzero;fill:rgb(99.215686%,87.843137%,40.784314%);fill-opacity:1;"
      d="M 8.507812 15.84375 L 13.808594 12.886719 L 12.292969 3.566406 C 12.246094 3.273438 11.886719 3.15625 11.679688 3.367188 L 2.164062 12.898438 L 7.433594 15.84375 C 7.769531 16.027344 8.171875 16.027344 8.507812 15.84375 "
    ></path>
    <path
      style=" stroke:none;fill-rule:nonzero;fill:rgb(98.823529%,79.215686%,24.705882%);fill-opacity:1;"
      d="M 13.757812 12.863281 L 12.257812 3.609375 C 12.210938 3.320312 11.914062 3.203125 11.707031 3.410156 L 2.222656 12.882812 L 7.4375 15.796875 C 7.765625 15.980469 8.167969 15.980469 8.5 15.796875 Z M 13.757812 12.863281 "
    ></path>
    <path
      style=" stroke:none;fill-rule:nonzero;fill:rgb(93.333333%,67.058824%,21.568627%);fill-opacity:1;"
      d="M 8.507812 15.753906 C 8.171875 15.941406 7.769531 15.941406 7.433594 15.753906 L 2.207031 12.855469 L 2.164062 12.898438 L 7.433594 15.84375 C 7.769531 16.027344 8.171875 16.027344 8.507812 15.84375 L 13.808594 12.886719 L 13.792969 12.808594 Z M 8.507812 15.753906 "
    ></path>
  </g>
</svg>
