<svg
  xmlns="http://www.w3.org/2000/svg"
  xmlns:xlink="http://www.w3.org/1999/xlink"
  width="16px"
  height="16px"
  viewBox="0 0 16 16"
  version="1.1"
>
  <title>Javascript</title>
  <g id="surface1">
    <rect
      x="0"
      y="0"
      width="16"
      height="16"
      style="fill:rgb(96.862745%,87.45098%,11.764706%);fill-opacity:1;stroke:none;"></rect>
    <path
      style=" stroke:none;fill-rule:nonzero;fill:rgb(0%,0%,0%);fill-opacity:1;"
      d="M 10.746094 12.5 C 11.070312 13.027344 11.488281 13.414062 12.230469 13.414062 C 12.855469 13.414062 13.253906 13.101562 13.253906 12.671875 C 13.253906 12.15625 12.84375 11.972656 12.15625 11.671875 L 11.78125 11.511719 C 10.695312 11.050781 9.976562 10.472656 9.976562 9.246094 C 9.976562 8.117188 10.835938 7.261719 12.179688 7.261719 C 13.132812 7.261719 13.820312 7.59375 14.316406 8.464844 L 13.144531 9.214844 C 12.886719 8.753906 12.609375 8.570312 12.179688 8.570312 C 11.738281 8.570312 11.457031 8.851562 11.457031 9.214844 C 11.457031 9.667969 11.738281 9.851562 12.382812 10.128906 L 12.757812 10.289062 C 14.035156 10.839844 14.757812 11.398438 14.757812 12.652344 C 14.757812 14.003906 13.695312 14.746094 12.265625 14.746094 C 10.871094 14.746094 9.96875 14.082031 9.527344 13.210938 Z M 5.4375 12.628906 C 5.671875 13.050781 5.886719 13.402344 6.40625 13.402344 C 6.898438 13.402344 7.210938 13.210938 7.210938 12.457031 L 7.210938 7.347656 L 8.714844 7.347656 L 8.714844 12.480469 C 8.714844 14.035156 7.800781 14.746094 6.46875 14.746094 C 5.265625 14.746094 4.566406 14.121094 4.210938 13.371094 Z M 5.4375 12.628906 "
    ></path>
  </g>
</svg>
