<!--?xml version="1.0" encoding="UTF-8"?-->
<svg
  xmlns="http://www.w3.org/2000/svg"
  xmlns:xlink="http://www.w3.org/1999/xlink"
  width="13px"
  height="16px"
  viewBox="0 0 13 15"
  version="1.1"
>
  <title>Python</title>
  <defs>
    <linearGradient
      id="linear0"
      gradientUnits="userSpaceOnUse"
      x1="26.648937"
      y1="20.603781"
      x2="135.66525"
      y2="114.39767"
      gradientTransform="matrix(0.0703176,0,0,0.0676157,-1.87389,-1.393139)"
    >
      <stop offset="0" style="stop-color:rgb(35.294118%,62.352941%,83.137255%);stop-opacity:1;"
      ></stop>
      <stop offset="1" style="stop-color:rgb(18.823529%,41.176471%,59.607843%);stop-opacity:1;"
      ></stop>
    </linearGradient>
    <linearGradient
      id="linear1"
      gradientUnits="userSpaceOnUse"
      x1="150.96111"
      y1="192.35176"
      x2="112.03144"
      y2="137.27299"
      gradientTransform="matrix(0.0703176,0,0,0.0676157,-1.87389,-1.393139)"
    >
      <stop offset="0" style="stop-color:rgb(100%,83.137255%,23.137255%);stop-opacity:1;"></stop>
      <stop offset="1" style="stop-color:rgb(100%,90.980392%,45.098039%);stop-opacity:1;"></stop>
    </linearGradient>
    <filter id="alpha" filterUnits="objectBoundingBox" x="0%" y="0%" width="100%" height="100%">
      <feColorMatrix
        type="matrix"
        in="SourceGraphic"
        values="0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 1 0"></feColorMatrix>
    </filter>
    <mask id="mask0">
      <g filter="url(#alpha)">
        <rect
          x="0"
          y="0"
          width="13"
          height="15"
          style="fill:rgb(0%,0%,0%);fill-opacity:0.443137;stroke:none;"></rect>
      </g>
    </mask>
    <radialGradient
      id="radial0"
      gradientUnits="userSpaceOnUse"
      cx="61.518883"
      cy="132.28575"
      fx="61.518883"
      fy="132.28575"
      r="29.036913"
      gradientTransform="matrix(0.00000000218632,-0.0285651,0.131833,0.0000000451374,-10.4626,16.959763)"
    >
      <stop
        offset="0"
        style="stop-color:rgb(72.156863%,72.156863%,72.156863%);stop-opacity:0.498039;"></stop>
      <stop offset="1" style="stop-color:rgb(49.803922%,49.803922%,49.803922%);stop-opacity:0;"
      ></stop>
    </radialGradient>
    <clipPath id="clip1">
      <rect x="0" y="0" width="13" height="15"></rect>
    </clipPath>
    <g id="surface5" clip-path="url(#clip1)">
      <path
        style=" stroke:none;fill-rule:nonzero;fill:url(#radial0);"
        d="M 11.46875 15.203125 C 11.46875 14.746094 9.457031 14.371094 6.976562 14.371094 C 4.496094 14.371094 2.484375 14.746094 2.484375 15.203125 C 2.484375 15.660156 4.496094 16.03125 6.976562 16.03125 C 9.457031 16.03125 11.46875 15.660156 11.46875 15.203125 Z M 11.46875 15.203125 "
      ></path>
    </g>
  </defs>
  <g id="surface1">
    <path
      style=" stroke:none;fill-rule:nonzero;fill:url(#linear0);"
      d="M 6.863281 0 C 6.292969 0.00390625 5.746094 0.0507812 5.261719 0.128906 C 3.84375 0.367188 3.585938 0.867188 3.585938 1.789062 L 3.585938 3.007812 L 6.9375 3.007812 L 6.9375 3.410156 L 2.328125 3.410156 C 1.355469 3.410156 0.503906 3.96875 0.234375 5.03125 C -0.0703125 6.246094 -0.0859375 7.003906 0.234375 8.273438 C 0.472656 9.21875 1.042969 9.890625 2.015625 9.890625 L 3.167969 9.890625 L 3.167969 8.433594 C 3.167969 7.378906 4.125 6.449219 5.261719 6.449219 L 8.609375 6.449219 C 9.542969 6.449219 10.285156 5.71875 10.285156 4.828125 L 10.285156 1.789062 C 10.285156 0.925781 9.519531 0.273438 8.609375 0.128906 C 8.035156 0.0390625 7.4375 -0.00390625 6.863281 0 Z M 5.050781 0.980469 C 5.398438 0.980469 5.679688 1.253906 5.679688 1.589844 C 5.679688 1.925781 5.398438 2.195312 5.050781 2.195312 C 4.703125 2.195312 4.421875 1.925781 4.421875 1.589844 C 4.421875 1.253906 4.703125 0.980469 5.050781 0.980469 Z M 5.050781 0.980469 "
    ></path>
    <path
      style=" stroke:none;fill-rule:nonzero;fill:url(#linear1);"
      d="M 10.703125 3.410156 L 10.703125 4.828125 C 10.703125 5.929688 9.726562 6.851562 8.609375 6.851562 L 5.261719 6.851562 C 4.347656 6.851562 3.585938 7.601562 3.585938 8.476562 L 3.585938 11.515625 C 3.585938 12.378906 4.378906 12.886719 5.261719 13.136719 C 6.324219 13.433594 7.339844 13.488281 8.609375 13.136719 C 9.453125 12.902344 10.285156 12.433594 10.285156 11.515625 L 10.285156 10.296875 L 6.9375 10.296875 L 6.9375 9.890625 L 11.960938 9.890625 C 12.9375 9.890625 13.300781 9.246094 13.636719 8.273438 C 13.988281 7.273438 13.972656 6.3125 13.636719 5.03125 C 13.398438 4.105469 12.9375 3.410156 11.960938 3.410156 Z M 8.820312 11.109375 C 9.167969 11.109375 9.449219 11.378906 9.449219 11.714844 C 9.449219 12.050781 9.167969 12.324219 8.820312 12.324219 C 8.476562 12.324219 8.191406 12.050781 8.191406 11.714844 C 8.191406 11.378906 8.476562 11.109375 8.820312 11.109375 Z M 8.820312 11.109375 "
    ></path>
    <use xlink:href="#surface5" mask="url(#mask0)"></use>
  </g>
</svg>
