<?xml version="1.0" encoding="UTF-8"?>
<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="16px" height="16px" viewBox="0 0 16 16" version="1.1">
    <title>Oracle SQL</title>
<g id="surface1">
<rect x="0" y="0" width="16" height="16" style="fill:rgb(89.019608%,2.352941%,7.450981%);fill-opacity:1;stroke:none;"/>
<path style=" stroke:none;fill-rule:nonzero;fill:rgb(100%,100%,100%);fill-opacity:1;" d="M 5.050781 13.050781 C 2.234375 13.050781 0 10.765625 0 8 C 0 5.183594 2.285156 2.949219 5.050781 2.949219 L 10.949219 2.949219 C 13.765625 2.949219 16 5.234375 16 8 C 16 10.816406 13.714844 13.050781 10.949219 13.050781 Z M 10.84375 11.242188 C 12.652344 11.242188 14.140625 9.753906 14.140625 7.945312 C 14.140625 6.140625 12.652344 4.652344 10.84375 4.652344 L 5.210938 4.652344 C 3.402344 4.652344 1.914062 6.140625 1.914062 7.945312 C 1.914062 9.753906 3.402344 11.242188 5.210938 11.242188 Z M 10.84375 11.242188 "/>
</g>
</svg>
