<svg width="16" height="16" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
  <title>YouTube</title>
  <path
    fill="currentColor"
    d="M23.498 6.186a2.862 2.862 0 0 0-2.014-2.014C19.533 3.5 12 3.5 12 3.5s-7.533 0-9.484.672A2.862 2.862 0 0 0 .502 6.185C-.17 8.138-.17 12 .502 13.954a2.862 2.862 0 0 0 2.014 2.014C4.467 16.64 12 16.64 12 16.64s7.533 0 9.484-.672a2.862 2.862 0 0 0 2.014-2.014c.672-1.953.672-5.815 0-7.768zM9.545 13.005V8.995l4.999 2.005z"
  ></path>
</svg>
