<svg width="16" height="16" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
  <title>YouTube</title>
  <path
    fill="currentColor"
    d="M23.498 6.186c-.275-1.041-1.086-1.854-2.127-2.13C19.616 3.5 12 3.5 12 3.5s-7.616 0-9.371.556a2.823 2.823 0 0 0-2.127 2.13A29.16 29.16 0 0 0 0 12a29.16 29.16 0 0 0 .502 5.814c.275 1.041 1.086 1.854 2.127 2.13C4.384 20.5 12 20.5 12 20.5s7.616 0 9.371-.556a2.823 2.823 0 0 0 2.127-2.13A29.16 29.16 0 0 0 24 12a29.16 29.16 0 0 0-.502-5.814zM9.545 15.568V8.432l6.4 3.568-6.4 3.568z"
  ></path>
</svg>
