@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
    letter-spacing: -0.025rem;
    @apply bg-fondo-principal text-texto-secundario font-sans;
    scroll-padding-top: 4rem;
  }

  body,
  figure {
    margin: 0;
    padding: 0;
  }

  a {
    @apply text-cian-acento transition-colors duration-300;
  }

  a:hover {
    @apply text-azul-principal underline;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  h1,
  h2,
  h3,
  h4 {
    margin: 0;
    @apply font-heading text-texto-principal;
  }

  p {
    @apply text-texto-secundario text-body-reg leading-relaxed mb-6;
  }

  .print {
    display: none !important;
  }

  @media print {
    .no-print {
      display: none !important;
    }

    .print {
      display: block !important;
    }

    astro-dev-toolbar {
      display: none !important;
    }

    article {
      break-inside: avoid;
    }
  }
}

/* Las animaciones y componentes específicos se refactorizarán directamente en los componentes de Astro */
