---
import Section from "../Section.astro"
import { highlightedSkills, databasesSkills, otherSkills } from "@cv"

import Java from "@/icons/java.astro"
import Spring from "@/icons/spring.astro"
import Angular from "@/icons/angular.astro"
import Docker from "@/icons/docker.astro"
import Kubernetes from "@/icons/kubernetes.astro"
import CICD from "@/icons/cicd.astro"
import Javascript from "@/icons/javascript.astro"
import Typescript from "@/icons/typescript.astro"
import Node from "@/icons/node.astro"
import Python from "@/icons/python.astro"
import Go from "@/icons/go.astro"
import PostgreSQL from "@/icons/postgresql.astro"
import OracleSQL from "@/icons/oraclesql.astro"
import MySQL from "@/icons/mysql.astro"
import MongoDB from "@/icons/mongodb.astro"
import Firebase from "@/icons/firebase.astro"
import React from "@/icons/react.astro"
import Vue from "@/icons/vue.astro"

const SKILLS_ICONS = {
  Java,
  Spring,
  Angular,
  Docker,
  Kubernetes,
  CICD,
  Javascript,
  Typescript,
  Node,
  Python,
  Go,
  PostgreSQL,
  OracleSQL,
  MySQL,
  MongoDB,
  Firebase,
  React,
  Vue,
} as const;
---

<Section title="Habilidades">
  <ul class="skills-list highlighted-skills">
    {highlightedSkills.map(({ name, icon }) => {
      const IconComponent = SKILLS_ICONS[icon as keyof typeof SKILLS_ICONS];
      return (
        <li>
          {IconComponent && <IconComponent />} <span>{name}</span>
        </li>
      )
    })}
  </ul>

  <ul class="skills-list">
    {otherSkills.map(({ name, icon }) => {
      const IconComponent = SKILLS_ICONS[icon as keyof typeof SKILLS_ICONS];
      return (
        <li>
          {IconComponent && <IconComponent />} <span>{name}</span>
        </li>
      )
    })}
  </ul>

  <ul class="skills-list">
    {databasesSkills.map(({ name, icon }) => {
      const IconComponent = SKILLS_ICONS[icon as keyof typeof SKILLS_ICONS];
      return (
        <li>
          {IconComponent && <IconComponent />} <span>{name}</span>
        </li>
      )
    })}
  </ul>

</Section>

<style>
  .skills-list {
    display: inline-flex;
    gap: 8px;
    flex-wrap: wrap;
    margin-bottom: 20px;
  }

  li {
    align-items: center;
    background: #f7f7f7;
    border-radius: 6px;
    color: black;
    display: flex;
    font-size: 0.8rem;
    font-weight: 500;
    gap: 4px;
    padding: 0.2rem 0.6rem;
  }

  .highlighted-skills li {
    background: #e0e0e0;
  }

  h3 {
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: #34495e;
  }
</style>
