---
const { title } = Astro.props
---

<section aria-label={title ? title : "Sección sin título"}>
  {title && <h2>{title}</h2>}
  <slot />
</section>

<style>
  section {
    max-width: 900px;
    margin: 0 auto 3rem;
    padding: 0 1.5rem;
  }

  h2 {
    margin-bottom: 16px;
    font-weight: 700;
    line-height: 1.5;
    font-size: 2rem;
  }

  h2:focus {
    outline: 2px solid #1d4e89;
    outline-offset: 4px;
  }

  @media (max-width: 700px) {
    section {
      margin-bottom: 2.5rem;
      padding: 0 1rem;
    }

    h2 {
      font-size: 1.75rem;
    }
  }
</style>
